<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>{% block title %}{% endblock %}</title>
    <h1>
        Recipe Book <br>
        {% if user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                {{ form.as_p }}
            <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="/accounts/login"> Login </a>
        {% endif %}
        {% block heading %}
        {% endblock %}
    </h1>
    {% block styles %}{% endblock %}
</head>
    <body>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>